@model AutoStop.Models.CarCategories

@{
    ViewData["Title"] = "CategoryAdd";
}

<h1>CategoryAdd</h1>

<h4>CarCategories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CategoryAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class ="form-control" value="@ViewBag.CarId">
            </div>
            <div class="form-group">
                <label asp-for="CategoriesId" class="control-label"></label>
                <select asp-for="CategoriesId" class ="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
