@model AutoStop.Models.BlackList

@{
    ViewData["Title"] = "AddBlackList";
    Layout = null;
}

<h1>AddBlackList</h1>

<h4>BlackList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBlackList">
            <select asp-for = "AccountId"  class = "form-control" asp-items = "ViewBag.AccountId"></select>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
