@model AutoStop.Models.Travels

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Travels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Number" />
            <div class="form-group">
                <label asp-for="TimeCreate" class="control-label"></label>
                <input asp-for="TimeCreate" class="form-control" />
                <span asp-validation-for="TimeCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSend" class="control-label"></label>
                <input asp-for="TimeSend" class="form-control" />
                <span asp-validation-for="TimeSend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeArrive" class="control-label"></label>
                <input asp-for="TimeArrive" class="form-control" />
                <span asp-validation-for="TimeArrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableSeats" class="control-label"></label>
                <input asp-for="AvailableSeats" class="form-control" />
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointSendId" class="control-label"></label>
                <select asp-for="PointSendId" class="form-control" asp-items="ViewBag.PointSendId"></select>
                <span asp-validation-for="PointSendId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointArriveId" class="control-label"></label>
                <select asp-for="PointArriveId" class="form-control" asp-items="ViewBag.PointArriveId"></select>
                <span asp-validation-for="PointArriveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreaterId" class="control-label"></label>
                <select asp-for="CreaterId" class="form-control" asp-items="ViewBag.CreaterId"></select>
                <span asp-validation-for="CreaterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
